
.wrapper{
    display: flex;
    overflow: hidden;
    .page-wrapper{
     width: 100%;
     width: calc(100% - 240px);
    margin-left: 240px;
    position: relative;
    .over{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.3);
         display: none;
         &.active{
             display: block;
         }
    }
     .page-content{
         padding: 25px;
         background-color: var(--bgcolor);
     .statictics{
        margin-bottom: 30px;
         .row{         
         .item{
             &:first-of-type{
                 padding-left: 0px;
             }
             &:last-of-type{
                 padding-right: 0px;
             }
             .parent{
             background-color: #fff;
             height: auto;
             padding: 20px;
             margin-right: 30px;
             border: 1px solid transparent;
             border-radius: 6px;
             &:last-of-type{
                 margin-right: 0px;
             }
             .head{
                 display: flex;
                 justify-content: space-between;
                 margin-bottom: 6px;
             h5{
                 font-size: 14px;
                 text-transform: uppercase;
                 font-weight: 700;
                 color: #000;
             }
             a{
                 
                span{
                    color: var(--color4);
                    cursor: pointer;
      
                } 
             }
             .dropdown-menu{
                 .dropdown-item{
                     padding: 4px 14px;
                   .icon{
                       font-size: 14px;
                       margin-right: 8px;
                       color: var(--color4);
                   }
                   .text{
                       font-size: 13px;
                       color: var(--color4);
                       text-transform: capitalize;
                   }
                   &:hover{
                       background-color: var(--bgcolor);
                       .icon,.text{
                       color: var(--maincolor);
                       }
                   }
                 }
             }
            }
            .body{
                .left,.right{
                    padding: 0px;
                }
                .left{
                    h2{
                        font-size: 30px;
                        color: #000;
                        margin-bottom: 8px;
                    }
                    h5{
                        font-size: 14px;
                        color: var(--other); 
                        display: flex;
                        span{
                            margin-right: 5px;
                        
                        }
                        &.low{
                            color: var(--other2);
                            
                        }
                    }
                }
            }
         }
        }
     }
    }
    .main-charts{
        margin-bottom: 30px;
        .item{
            padding: 0px;
            &.left{
                padding-right: 15px;
            }
            &.right{
                padding-left: 15px;
            }
        .revenue{
              background-color: #fff;
            border: 1px solid transparent;
            border-radius: 6px;
            padding: 20px;
            .head{
                 display: flex;
                 justify-content: space-between;
                 h5{
                     font-size: 20px;
                     color: #000;
                 }
                  a{
                span{
                    color: var(--color4);
                    cursor: pointer;
                        } 
                    }
                 .dropdown-menu{
                 .dropdown-item{
                     padding: 4px 14px;
                   .icon{
                       font-size: 14px;
                       margin-right: 8px;
                       color: var(--color4);
                   }
                   .text{
                       font-size: 13px;
                       color: var(--color4);
                       text-transform: capitalize;
                   }
                   &:hover{
                       background-color: var(--bgcolor);
                       .icon,.text{
                       color: var(--maincolor);
                       }
                   }
                 }
             }
             }
            .body{
              background-color: #fff;
             border: 1px solid var(--border2);
            border-radius: 6px;
            padding: 15px;
             margin-right: 30px;
             h5{
                 font-size: 16px;
                 color: #000;
                 text-transform: capitalize;
                 margin-bottom: 15px;
                 span{
                     color: var(--maincolor);
                 }
             }
             p{
                 
                display: flex;
                justify-content: flex-end; 
                .text1{
                    color: #000;
                    font-size: 14px;
                    margin-right: 30px;
                    text-transform: capitalize;
                    &::before{
                        content: '';
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        background-color: var(--maincolor);
                        border: 1px solid transparent;
                        border-radius: 50%;
                        margin-right: 8px;
                    }
                }
                  .text2{
                    color: #000;
                    font-size: 14px;
                    margin-right: 30px;
                    text-transform: capitalize;
                    margin-right: 15px;
                    &::before{
                        content: '';
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        background-color: var(--mainbg);
                        border: 1px solid transparent;
                        border-radius: 50%;
                        margin-right: 8px;
                    }
                }
             }
             .main-chart{
                 margin-top: 30px;
                 padding: 0px;
             }
            }
        }
        .sales{
             background-color: #fff;
            border: 1px solid transparent;
            border-radius: 6px;
            padding: 20px;
            .head{
                display: flex;
                justify-content: space-between;
                h5{
                    font-size: 20px;
                    color: #000;
                    text-transform: capitalize;
                }
                .next{
                    width: 32px;
                    height: 32px;
                    background-color: #4E56D450;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid transparent;
                    border-radius: 6px;
                    cursor: pointer;
                    span{
                        font-size: 15px;
                        color: var(--maincolor);
                    }
                }
            }
            .body{
                margin-top: 30px;
                margin-bottom: 68px;
            }
            .foot{
                display: flex;
                justify-content: center;
                .text1{
                color: #000;
                    font-size: 14px;
                    margin-right: 30px;
                    text-transform: capitalize;
                    
                 &::before{
                        content: '';
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        background-color: var(--maincolor);
                        border: 1px solid transparent;
                        border-radius: 50%;
                        margin-right: 8px;
                    }   
            }
             .text2{
                    color: #000;
                    font-size: 14px;
                    
                    text-transform: capitalize;
                    margin-right: 15px;
                    &::before{
                        content: '';
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        background-color: var(--mainbg);
                        border: 1px solid transparent;
                        border-radius: 50%;
                        margin-right: 8px;
                    }
                }
        }
        }
    }
    }
   
    }
    }
}