
.navbar{
    background-color: var(--mainbg);
    min-width: 240px;
    height: 100%;
    position: fixed!important;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0px!important;
    display: block!important;
     transition: width .1s ease,margin .1s ease-out;
     &.tog{
         margin-left: 0px;
     }
    .Navbar-Head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid var(--border);
        padding: 10px 25px;
  
    .navbar-brand{
        font-size: 25px;
        span{
            color: #fff;
            font-weight: 700;
        }
        mark{
            color:var(--maincolor);
            background-color: transparent;
            font-weight: 300;
            padding: 0px;
            text-transform: uppercase;
        }
    }
    .toggler{
        background-color: transparent;
        border: none;
        padding: 0px;
        color: #9fa2ab;
        font-size: 22px;
      
       
    }
}
   .Sidebar-body{
    padding: 25px;
    text-transform: capitalize;
    .item{
        margin-bottom: 20px;
        
        .active{
            span{
                color: var(--maincolor);
            }
        }
        h5{
            font-size: 11px;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 5px;
            font-weight: 700;
        }
      
        .icon{
        margin-right: 15px;
        }
        
        span{
            font-size: 14px; 
        }

        a{
            &:hover,&:active{
              text-decoration: none;
            }
        }
      
        .menuitem{
            background-color: transparent;
            display: flex;
            border: none;
            cursor: pointer;
            padding: 8px 0px;
           span{
             transition: all .3s ease-in-out;
           }
           &.active{
               span{
                color: var(--maincolor);
               }
           }
            &:hover{
                 
             span{
                 color: var(--maincolor);
                 
             }
              .item-text{
                
               font-size: 14px;
               margin-left:2px;
              
              
            }
            
            }
           
            span{
                
             color: var(--color3);
            &.arrow{
                 margin-left: auto;
            }
            
        }
      
        }
        
    }
    .submenu{
        ul{
            margin-top: 10px;
            padding-left: 32px;
            li{
                position: relative;
               color: var(--color3);
               margin: 10px 0px;
               cursor: pointer;
              transition: all .4s ease-in-out;
              font-size: 13px;
                &:before{
                        content: "";
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: transparent;
                        border: 1px solid #a9b4ca;
                        position: absolute;
                        left: -29px;
                        top: 5px;
                        transition: all .4s ease-in-out;
                }
                &:hover{
                    color: var(--maincolor);
                    padding-left: 2px;
                    &::before{
                        background-color: var(--maincolor);
                        border: 1px solid var(--maincolor);
                        
                    }
                }
            }
        }
    } 
   }
}